---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Dilan Toro Moraga</h1>
			<p class="hero__text">
				Ingeniero de Ejecuci칩n en Computaci칩n e Inform치tica
			</p>
			<Boton href="#about" texto="Quiero saber m치s"/>
		</div>
    <img
		class="hero__img"
		src="/img/foto-perfil.jpg"
		alt="Dilan Toro Moraga"
		width="384"
    	height="384"
	/>
	</div>
</section>
