---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Cuento con habilidades para la programación en diferentes
			lenguajes, como lo son C, C++, Python, manejo de Cisco Packet Tracer, 
			programación de base de datos con PostgreSQL, desarrollo de aplicaciones web
			con un stack PERN (PostgreSQL, Express, React y Nodejs).
		</p>
		<p>
			Además, cuento con conocimientos de Comunicación de datos
			y Redes aplicado en Sistemas Operativos de Windows y Linux
			en diferentes distribuciones, como lo son distros de Debian, Arch
			y Red Hat. Todo esto, orientado a la Ciberseguridad y al Hacking Ético.
		</p>
	</div>
</section>
