---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/foto-perfil-2.png"
			alt="Foto de perfil de Dilan Toro"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Soy un chico de 23 años oriundo de Concepción, Chile.
				Egresado de la carrera de informática en la Universidad
				del Bío-Bío y actualmente me dedico a aprender y especializarme aún
				más sobre Hacking Ético y Seguridad Informática. 
			</p>
			<p class="about__text">
				Cuento con experiencia en Programación Competitiva IEEE durante
				el año 2023 y 2024, obteniendo junto con mi equipo,
				la posición 11° a nivel nacional como universidad. También como Soporte Informático 
				en la Dirección Regional de Gendarmería de Chile y como Ayudante de Laboratorio 
				en el CIM UBB, creando un sistema de inventario conectado via sockets a los brazos robóticos.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
